<div class="body">



    <div class="container my-5 py-5">
        <h1 class="text-center heading">
            {{data[0].title}}
        </h1>
    
    
        <div class="container mt-5 pt-5">
            <img  class="img1 border rounded mainImg" src="{{data[0].image}}" alt="">   
                 <img  class="border rounded mainImg" src="{{data[0].image2}}" alt="">
    
        </div>
    
        <div>
            <p [innerHTML]="data[0].description"></p>
        </div>
    
    </div>
    
    
    </div>
